<!DOCTYPE html>
<html lang="en">
<head>
  <title>Simple landing page</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/materialdesignicons.min.css">
  <link rel="stylesheet" href="css/select2.min.css">
  <link rel="stylesheet" href="css/style.min.css">
</head>
<body id="body" data-spy="scroll" data-target=".navbar" data-offset="100">
  <header id="header-section">
    <nav class="navbar navbar-expand-lg pl-3 pl-sm-0" id="navbar">
    <div class="container">
      <div class="navbar-brand-wrapper d-flex w-100">
        <!-- <img src="images/Group2.svg" alt=""> -->
        <h4 class="font-weight-semibold">Prayer Time.</h4>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="mdi mdi-menu navbar-toggler-icon"></span>
        </button> 
      </div>
      <div class="collapse navbar-collapse navbar-menu-wrapper" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-lg-center align-items-start ml-auto">
          <li class="d-flex align-items-center justify-content-between pl-4 pl-lg-0">
            <div class="navbar-collapse-logo">
              <img src="images/Group2.svg" alt="">
            </div>
            <button class="navbar-toggler close-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="mdi mdi-close navbar-toggler-icon pl-5"></span>
            </button>
          </li>
          <li class="nav-item btn-contact-us pl-4 pl-lg-0">
            <button class="btn btn-info" data-toggle="modal" data-target="#exampleModal">Get Reminder</button>
          </li>
        </ul>
      </div>
    </div> 
    </nav>   
  </header>
  <div class="banner" >
    <div class="container">
      <h1 class="font-weight-semibold">Prayer Time & Meeting.</h1>
      <h6 class="font-weight-normal text-muted pb-3">What put you into Saqar?". <br> They will say, "We were not of those who prayed, Nor did we used to feed the poor." <br><strong>QS. Al-Mudatsir 42-43</strong></h6>
      <div>
        <button class="btn btn-opacity-light mr-1" data-toggle="modal" data-target="#exampleModal">Get reminder</button>
        <button class="btn btn-opacity-success ml-1" onclick="scrollDown()">How it works</button>
      </div>
      <img src="images/Group171.svg" alt="" class="img-fluid">
    </div>
  </div>
  <div class="content-wrapper">
    <div class="container">
      <section class="features-overview" id="features-section" >
        <div class="content-header">
          <h2>How does it works</h2>
          <!-- <h6 class="section-subtitle text-muted">One theme that serves as an easy-to-use operational toolkit<br>that meets customer's needs.</h6> -->
        </div>
        <div class="d-md-flex justify-content-center">
          <div class="grid-margin d-flex justify-content-center">
            <div class="features-width">
              <!-- <img src="images/Group12.svg" alt="" class="img-icons"> -->
              <iframe width="500" height="315" src="https://www.youtube.com/embed/sFIbcgHrGSg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <h5 class="py-3">How to import prayer time to calendar.</h5>
              <!-- <p class="text-muted">How to import.</p> -->
            </div>
          </div>
         
        </div>
      </section>     
      <section class="contact-details" id="contact-details-section">
        <div class="row text-center text-md-left">
          <div class="col-12 col-md-6 col-lg-4 grid-margin">
            <h4 class="font-weight-semibold">Prayer Time.</h4>
            <div class="pt-2">
              <!-- <p class="text-muted m-0">mikayla_beer@feil.name</p>
              <p class="text-muted m-0">906-179-8309</p> -->
            </div>         
          </div>
          <div class="col-12 col-md-6 col-lg-4 grid-margin">
            <h5 class="pb-2">Get in Touch</h5>
            <p class="text-muted">Contact us if you have any questions.</p>
            <div class="pt-3">
              <a href="mailto:kurniawanhendiwijaya@gmail.com?subject=[Help]%20Prayer Time&cc=latifrahman5@gmail.com" target="_blank">
                <button class="btn btn-dark">Contact Us</button>
              </a>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 grid-margin">
              <h5 class="pb-2">Our Info</h5>
              <!-- <p class="text-muted">518 Schmeler Neck<br>Bartlett. Illinois</p> -->
              <div class="d-inline-grid justify-content-center justify-content-md-start">
                <a href="#"><span class="mdi mdi-linkedin"></span> Latif</a>
                <a href="#"><span class="mdi mdi-linkedin"></span> Hendi</a>
              </div>
          </div>
        </div>  
      </section>
      <footer class="border-top">
        <p class="text-center text-muted pt-4">Copyright © 2022<a href="https://www.getbootstrap.com/" class="px-1">Bootstrap.</a>All rights reserved.</p>
      </footer>
      <!-- Modal for Contact - us Button -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel">Prayer Time</h4>
            </div>
            <div class="modal-body">
              <form id="prayerForm">
                <div class="form-group">
                  <label for="City">City</label>
                  <select class="form-control" name="city" id="city" required>
                    <option>Search a city by name</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="Date Start">Start Date</label>
                  <input type="date" class="form-control" name="start_date" id="start_date" required>
                </div>
                <div class="form-group">
                  <label for="Date End">End Date</label>
                  <input type="date" class="form-control" name="end_date" id="end_date" required>
                </div>
                <div class="form-group">
                  <label for="Day">Day</label>
                  <select class="form-control" name="day" id="day" multiple="multiple" required>
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                    <option value="Sunday">Sunday</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="Prayer Time">Prayer Time</label>
                  <select class="form-control" name="sholat" id="sholat" multiple="multiple" required>
                    <option value="Imsak">Imsak</option>
                    <option value="Sunrise">Sunrise</option>
                    <option value="Dhuhr">Dhuhr</option>
                    <option value="Asr">Asr</option>
                    <option value="Sunset">Sunset</option>
                    <option value="Maghrib">Maghrib</option>
                    <option value="Isha">Isha</option>
                    <option value="Midnight">Midnight</option>
                  </select>
                </div>
              </form>
              <div class="form-group result-group">
                <label for="results">Result:</label>
                <div>
                  <input type="textarea" class="form-control result-url" name="url" id="urlData" readonly>
                  <button type="button" class="btn btn-info btn-sm" onclick="copyData()" title="Copy to clipboard">Copy</button>
                </div>
                <p id="message"></p>
              </div>
            </div>
            
            <div class="modal-footer">
              <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-success" id="get_data">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/select2.min.js"></script>
  <script src="js/landingpage.js"></script>
</body>
</html>